<table class="table table-striped table-hover">
  <thead>
    <tr>
      {{#each columns as |column|}}
        <th>
          {{column.label}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each itemColumns as |column|}}
        <td>
          {{format-value column.value}}
        </td>
      {{/each}}
    </tr>
  </tbody>
</table>